<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>X</button>
</mat-dialog-actions>
<h1 mat-dialog-title>Flights</h1>
<div mat-dialog-content>

    <div class="basic-container">
        <mat-form-field class="search-input-modal">
            <input matInput [(ngModel)]="searchOrigin" placeholder="Search origin">
        </mat-form-field>

        <mat-form-field class="search-input-modal">
            <input matInput [(ngModel)]="searchDestination" placeholder="Search destination">
        </mat-form-field>

        <mat-select class="search-company" placeholder="Search company" [(ngModel)]="searchCompany">
            <mat-option></mat-option>
            <mat-option *ngFor="let compName of data" [value]="compName.company">
                {{compName.company}}
            </mat-option>
        </mat-select>
    </div>
    <div *ngFor="let element of data  | filter : searchOrigin:searchDestination:searchCompany; let i = index">
        <mat-card class="example-card">
            <img mat-card-image [src]="element.cityDestinationPicture" alt="destination picture">
            <mat-card-content>
                <p>Company name: {{element.company}}</p>
                <p>City-origin: {{element.cityOrigin}}</p>
                <p>City-destination: {{element.cityDestination}}</p>
                <p>Airport-origin: {{element.airportOrigin}}</p>
                <p>Airport-destination: {{element.airportDestination}}</p>
                <p>Landing date: {{element.dateLanding}}</p>
                <p>Take off date: {{element.dateTakeOff}}</p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>