/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/*@import '@angular/material/prebuilt-themes/indigo-pink.css'; */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
    color: #636363;
}

.flights-modal-margin {
    margin-right:50px;
  }

  .example-form{
      margin-bottom: 10px;
  }
  
  .search-company{
    max-width: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .search-input-modal{
    margin-left: 10px;
  }

  .basic-container{
    padding: 5px;
  }

  .example-card {
    max-width: 400px;
    margin:auto;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .mat-dialog-content {
    overflow: inherit!important;
  }