<div class="people-content">
  <h1>People</h1>

  <mat-tab-group>
    <mat-tab label="All users">
      <table mat-table [dataSource]="people" class="mat-elevation-z8">
        <ng-container matColumnDef="picture">
          <th mat-header-cell *matHeaderCellDef> Picture</th>
          <td mat-cell *matCellDef="let element"> <img width="90" [src]="element.picture"/></td>

        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Full Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>
          <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
        </ng-container>

        <ng-container matColumnDef="flights">
          <th mat-header-cell *matHeaderCellDef> View flights </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="openDialog(element)" class="table-search">search</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Active users">
      <table mat-table [dataSource]="activePeople" class="mat-elevation-z8">
        <ng-container matColumnDef="picture">
          <th mat-header-cell *matHeaderCellDef> Picture</th>
          <td mat-cell *matCellDef="let element"> <img width="90" [src]="element.picture"/></td>

        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Full Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>
          <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
        </ng-container>

        <ng-container matColumnDef="flights">
          <th mat-header-cell *matHeaderCellDef> View flights </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="openDialog(element)" class="table-search">search</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Inactive users">
      <table mat-table [dataSource]="inactivePeople" class="mat-elevation-z8">
        <ng-container matColumnDef="picture">
          <th mat-header-cell *matHeaderCellDef> Picture</th>
          <td mat-cell *matCellDef="let element"> <img width="90" [src]="element.picture"/></td>

        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Full Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef> Active </th>
          <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
        </ng-container>

        <ng-container matColumnDef="flights">
          <th mat-header-cell *matHeaderCellDef> View flights </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="openDialog(element)" class="table-search">search</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
